{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% if content %}
  <div class="row">
    <nav class="menu-centered" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  </div>
{% endif %}
